<footer class="bg-light">

  <div class="copy">
    <i class="fas fa-paw"></i>
    <p class="copy-text">&copy; 2021 PetLocal </p>
    <p class="by-us">Luke Penner && Courtney Amos</p>
  </div>

</footer>
