main {
  padding-top: 100px;
}

.img-div {
  height: 250px;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    height: 100%;
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

.card-body {
  .listing-title {
    font-weight: 800;
  }

  .listing-price {
    font-weight: 700;
  }
}

.card-bottom {
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .btn {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.fav {
  .fa-heart {
    color: gray;
    font-size: 25px;
  }

  .fa-heart:hover {
    cursor: pointer;
    color: #c81d25;
  }
}
