.label-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;

  label {
    font-weight: 500;
  }
}

.mark-as-sold-toast {
  display: absolute;
  position: absolute;
  min-width: 250px;
  z-index: 1;
  left: 50%; 
}