nav {
  div a i {
    margin-right: 10px;
  }
  
  .nav-link {
    color: black !important;
  }
  
  .nav-link:hover {
    // color: rgb(226, 170, 212) !important;
    text-decoration: underline;
  }
}

.login-logout {
  margin-left: 10px;

  .btn {
    font-weight: 400;
    text-transform: uppercase;
  }

}
